img
{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 50%;
    

}
H
{

color:rgb(236, 236, 26);
position: absolute;
left: 700px;

top: 70PX;
text-shadow: 5px black;
font-size: xx-large;




}
body
{

    background-color:rgb(70, 5, 70);
    
}

table
{
    text-align:center;
    font-style: italic;
    color: rgb(243, 241, 241);
    
}
h2{
    font-size: medium;
    color: black;

}
p{
    font-style: italic;
    color: white;
}
p1
{
    color: black;
}
h4
{
    text-align: right;
}
li{
    color: beige;
}
.A
{
    height: 250px;
    width: 250px;
}
.B
{
    height: 50PX;
    width: 250PX;
    border-radius: 0%;
    
}

  
