

.p
{
    width: 100%;
    height: 100%;

    background-size:cover;
   
}
.k
{
    color: pink;

    background-image: url(IMG_20250301_000205_542);
    width: 100%;
    height: 100%;

    background-size:cover;

}
span
{
    text-shadow: 0px 0px 10px pink;
    text-shadow: 0px 0px 20px pink;
    text-shadow: 0px 0px 30px pink;
    text-shadow: 0px 0px 40px pink;
    font-size: 95px;
     color:pink;
align-self: center;
        position: relative;
        font-family: "lato",sans-serif;
        top:  70px;
        margin-left: 500px;
        color:pink;
        display: inline-block;
        
        text-shadow: 0 1px 0 #b7b7b7,0 2px 0 #b7b7b7,0 3p 0 #b7b7b7,0 4px 0 #b7b7b7,0 5px 0 #b7b7b7,0 6px 0 #b7b7b7.0 6px 0 #b7b7b7,0 7px 0 #b7b7b7,0 8px 0 #b7b7b7,0 9px 0 transparent,0 10px rgba(0,0,0.3);
        
        animation: bounce 0.4s ease infinite alternate;
        
}

span:nth-child(1){
    animation-delay: 0.1s;
  }

 span:nth-child(2){
    animation-delay: 0.1s;
    }

 span:nth-child(3)
{
    animation-delay: 0.2s; 
 }
span:nth-child(4)
{
    animation-delay: 0.3s;
 }
 span:nth-child(5)
{
    animation-delay: 0.5s;
    text-shadow: 0px 0px 10px #1fe6ec;
           }
    span:nth-child(6)
    {
        animation-delay :o.6s;
      
    }
    span:nth-child(7)
    {
        animation-delay: 0.7s;
    }
        @keyframes bounce
        {
            100%{
                top: 0px; 
                text-shadow: 0 1px 0 #b7b7b7,0 2px 0 #b7b7b7,0 3p 0 #b7b7b7,0 4px 0 #b7b7b7,0 5px 0 #b7b7b7,0 6px 0 #b7b7b7.0 6px 0 #b7b7b7,0 7px 0 #b7b7b7,0 8px 0 #b7b7b7,0 9px 0 transparent,0 10px rgba(0,0,0.3);
        
            }
        }
h1{
    text-shadow: 0px 0px 10px pink;
    text-shadow: 0px 0px 20px pink;
    text-shadow: 0px 0px 30px pink;
    text-shadow: 0px 0px 40px pink;
    
    text-align: center;   
    font-size: 150px;
}
marquee
{
    text-shadow: 0px 0px 10px pink;
    text-shadow: 0px 0px 20px pink;
    text-shadow: 0px 0px 30px pink;
    text-shadow: 0px 0px 40px pink;
    font-size: 150px;
    margin-top: 300px;
    margin-left: 500px;
}
