*
{
    margin: 0;
    font-family: arial;
    border: border-box;


}
.TITLE
{
height: 60px;
background-color: #0f1111;
color:white;
display: flex;
    
align-items: center;


}
.s
{
    height: 5px;
    color:white;
    
    margin-left:20px;
    margin-bottom: 20px;
}

.k
{
    height: 5px;
    color:white;
    margin-left:20px;
   margin-bottom: 20px;
}
.search
{
    margin-left: 15px;
    margin-top: 15PX;
    height: 34PX;
}
.o
{
    width: 500px;
    height: 30PX;
    
}
.e
{
    margin-left: 15px;
    margin-bottom: 15PX;
}

.ima
{
    height: 90px;
    
    border: 2px solid black;
    background-color:#0f1111;
    font-size: xx-large;
    text-align: center;
    animation:color  ease-in 1s infinite normal;
    
color:black;


}
span
{
    position: relative;
font-family: "lato",sans-serif;
top:  20px;
color:azure;
display: inline-block;
font-size: xx-large;
text-shadow: 0 1px 0 #b7b7b7,0 2px 0 #b7b7b7,0 3p 0 #b7b7b7,0 4px 0 #b7b7b7,0 5px 0 #b7b7b7,0 6px 0 #b7b7b7.0 6px 0 #b7b7b7,0 7px 0 #b7b7b7,0 8px 0 #b7b7b7,0 9px 0 transparent,0 10px rgba(0,0,0.3);

animation: bounce 0.4s ease infinite alternate;


}
span:nth-child(1){
    animation-delay: 0.1s;
  }

 span:nth-child(2){
    animation-delay: 0.1s;
    }

 span:nth-child(3)
{
    animation-delay: 0.2s; 
 }
span:nth-child(4)
{
    animation-delay: 0.3s;
 }
 span:nth-child(5)
{
    animation-delay: 0.5s;
    text-shadow: 0px 0px 10px #1fe6ec;
           ;}
    span:nth-child(6)
    {
        animation-delay :o.6s;
      
    }
    span:nth-child(7)
    {
        animation-delay: 0.7s;
    }
        @keyframes bounce
        {
            100%{
                top: 0px; 
                text-shadow: 0 1px 0 #b7b7b7,0 2px 0 #b7b7b7,0 3p 0 #b7b7b7,0 4px 0 #b7b7b7,0 5px 0 #b7b7b7,0 6px 0 #b7b7b7.0 6px 0 #b7b7b7,0 7px 0 #b7b7b7,0 8px 0 #b7b7b7,0 9px 0 transparent,0 10px rgba(0,0,0.3);
        
            }
        
        }
       
       
        h1{
            text-shadow: 0px 0px 10px #1fe6ec;
            text-shadow: 0px 0px 20px #1fe6ec;
            text-shadow: 0px 0px 30px #1fe6ec;
            text-shadow: 0px 0px 40px #1fe6ec;
            font-size: 30px;
             color: #5cfaff;
                margin-left:15px;
            
        }
        
        .down
        {
            height: 60px;
         background-color: #0f1111;
        color:white;
        
       align-items: center;
       text-align: center;
     
        }
        .side
        {
            height: 600px;
            width: 90px;
            background-color: #0f1111;
           color:white;
           
        
        }
        span
        {
            text-shadow: 0px 0px 10px #1fe6ec;
            text-shadow: 0px 0px 20px #1fe6ec;
            text-shadow: 0px 0px 30px #1fe6ec;
            text-shadow: 0px 0px 40px #1fe6ec;
            font-size: 60px;
             color: #5cfaff;
                margin-left:15px;
        }
        MARQUEE
        {
            text-shadow: 0px 0px 10px #1fe6ec;
            text-shadow: 0px 0px 20px #1fe6ec;
            text-shadow: 0px 0px 30px #1fe6ec;
            text-shadow: 0px 0px 40px #1fe6ec;
            font-size: 30px;
             color: #5cfaff;
                margin-left:15px;
        } 
        .j{
            display: flex;
        }
      
        .H{
            margin-top: 100PX;
            margin-left: 40PX;
          
        }
      .I:hover{
color: #608788;

text-shadow: 0px 0px 10px #1fe6ec;
      }
